body {
  background-color: #f0ecff;
  position: relative;
}
.post {
  padding: 10px 0px;
}
.header {
  cursor: pointer;
}
.img-pro {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  /* border: 1px solid gray; */
}
.post .card-body img {
  width: 100%;
}
.tags {
  padding: 5px 10px !important;
  background-color: darkgrey;
  margin-left: 5px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
#btn-add-post {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  right: 7%;
  bottom: 5%;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  line-height: 50px;
  cursor: pointer;
  user-select: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}
.number-info {
  color: rgb(172, 172, 172);
  font-weight: 100;
}
.number-info span {
  font-size: 50px;
  color: black;
}
.user-main-info {
  font-weight: 500;
  font-size: 20px;
}
.img-profile {
  border: 3px solid black;
}
/* Start loader */

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Start Loader Container */
.loader-container {
  position: fixed;
  /* top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
  background-color: rgba(0, 0, 0, 0.486);
  height: 100vh;
  width: 100%;
  z-index: 1000000;
}
/* End Loader Container */

/* End loader */
